@import './styles/variables.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to top, #0a0a0f 0%, #111123 30%, #1a1a33 70%, #20204a 100%);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}


.bg-gradient {
  background: radial-gradient(120% 120% at 50% 10%, #000000 40%, #010133 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
